pytest==8.4.2
pytest-cov==7.0.0
pytest-asyncio==1.2.0
click==8.3.0
chromadb==1.1.0
fastapi==0.118.0
pydantic==2.11.9
uvicorn==0.37.0
h5py
faiss-gpu-cu12==1.12.0
pypandoc_binary==1.15
pypdfium2
transformers==5.3.0
qwen_vl_utils==0.0.14
python-doctr==1.0.0
ujson==5.11.0
GitPython==3.1.45
pillow
tqdm
typer
vllm==0.11.0